body{
    background-color: aqua;
    font-family: 'Courier New', Courier, monospace;
    margin: auto;
}

h1{
    color: red;
    font-size: 33px;
    border: black 22px;
    box-shadow: 6px;
}
div{
    text-align: center;
    display: block;  
    border-color: black 8px;

}